/* Base */

/* *:not(a),body,td,tr,p { */
/*     background-color: #191019 !important; */
/*     background-size: 0,0 !important; */
/*     border-color: #2aa198 !important; */
/*     color: #b2b2b2 !important; */

/* } */

/* h1,h2,h3,h4 { */
/*     background-color: #191919 !important; */
/*     color: #bdae93 !important */

/* } */

/* button { */
/*     background-size: auto !important; */
/*     background-color: #666666 !important; */
/*     color: #2aa198 !important */

/* } */

/* a { */
/*     color: #cb4b16 !important; */
/*     background-color: #191919 !important */

/* } */
/* a:hover,a:focus { */
/*             color: #2aa198 !important */

/*         } */
/* a:visited { */
/*     color: #bdae93 !important */

/* } */

/* :::::: Hints Coloring :::::: */

._hintLabel {
    -webkit-transform:translate(px,-2px) !important;
    position: absolute !important;
    z-index: 100000 !important;
    color: #ebdbb2 !important;
    font:bold .8em monospace !important;
    background-color: #191919 !important;
    border-color: #2aa198 !important;
    margin: 0 !important;
    padding: 1px 1px !important;
    border: 1px solid !important;
    opacity: 1 !important

}
._hintLabel._hintFocus {
    z-index: 100001 !important;
    opacity: 1 !important

}