[submodule "misc"]
	path = misc
	url = https://github.com/thiderman/conf-misc.git
[submodule "vim"]
	path = vim
	url = https://github.com/thiderman/conf-vim.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/thiderman/conf-zsh.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/thiderman/conf-tmux.git
