vim/.netrwhist
*.pyc
*.log
old-configs-backup
local
util/*quake*
/emacs.d/url/
/emacs.d/semanticdb/
/emacs.d/.#recentf
/emacs.d/xkcd/
/emacs.d/.mc-lists.el
/emacs.d/.python-environments/
/emacs.d/ac-comphist.dat
/emacs.d/network-security.data
/emacs.d/custom.el
/emacs.d/emacs.el
