[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/mexpolk/vim-taglist.git
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git@github.com:daethorian/snipmate.vim.git
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/clones/vim-fuzzyfinder.git
[submodule "vim/bundle/l9"]
	path = vim/bundle/l9
	url = https://github.com/clones/vim-l9.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/xptemplate"]
	path = vim/bundle/xptemplate
	url = https://github.com/drmingdrmer/xptemplate-dist.git
[submodule "vim/bundle/argtextobj"]
	path = vim/bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "vim/bundle/apachelogs"]
	path = vim/bundle/apachelogs
	url = https://github.com/vim-scripts/apachelogs.vim.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/github-theme"]
	path = vim/bundle/github-theme
	url = git://github.com/vim-scripts/github-theme.git
[submodule "vim/bundle/neverland"]
	path = vim/bundle/neverland
	url = https://github.com/trapd00r/neverland-vim-theme.git
[submodule "LS_COLORS"]
	path = LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
