.#recentf
.mc-lists.el
.org-id-locations
.python-environments/
.sx/*
ac-comphist.dat
anaconda-mode/
auto-save-list
bookmarks
el-get
elpa
emacs.el
eshell
helm-adaptive-history
network-security.data
projectile-bookmarks.eld
recentf
recentf~
semanticdb/
smex-items
snippets/core
tramp
url/
var
xkcd/
